.navbars {
    background-color: #99bee4 !important; 
    border-radius: 1rem !important;
}

.navbars img {
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.navbars .btn-outline-danger {
    border-radius: 12px;
    padding: 6px 14px;
}

