/* .login{
    height: 100vh;
    background-color: rgb(227, 225, 222);
} */
/* .signup .totalPage{
    max-width: 500px;
    width: 100%;
    background-color: rgb(188, 177, 162);
    border-radius: 10px;
    box-shadow: 0rlh rgb(6, 5, 5);
} */